@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Asap", Arial;
}

header {
  background-color: #9B1F2C;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
}

header .name h1 {
  margin: 0;
  padding: 10px;
  color: #fff;
  text-shadow: 3px 3px #000;
  font-size: 45px;
}

main .background_img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("images/ayrton-senna.jpg");
  background-position: top;
  background-size: cover;
  height: 650px;
}

main .background_text {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px #000;
}

main .background_text p {
  padding: 0;
  margin: 0;
}

main .text_position {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main .resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #9B1F2C;
  border: 3px solid #000;
}

main .text_resume {
  color: #fff;
  font-size: 20px;
  text-align: justify;
  width: 700px;
  text-shadow: 1px 1px #000;
  padding: 0;
  margin-bottom: 10px;
}

main .resume p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px #000;
  width: 700px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

main #text_link {
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px #000;
  width: 700px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .resume a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .resume a:hover {
  color: #38B6FF;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDD802;
  border: 3px solid #000;
  border-top: 0px solid #000;
  padding-top: 50px;
  padding-bottom: 50px;
}

section .block_1 {
  display: flex;
  flex-direction: row;
}

section .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

section .text h1 {
  padding: 0;
  margin: 0;
}

section .text p {
  color: #000;
  font-size: 20px;
  text-align: justify;
  width: 700px;
  padding: 0;
  margin: 0;
}

section .image img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  margin-left: 20px;
  border: 3px solid #000;
}

section .block_2 {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
}

section .image_2 img {
  margin-right: 20px;
}

section .text_2 {
  margin-left: 20px;
}

section a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

section a:hover {
  color: #38B6FF;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B1F23;
}

footer .text_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .text_footer img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}